html, body {
    height:100%;
}
body{
    background: url("background.jpg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.focus, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:active:hover {
    outline: 0;
    color: black;
    background-color: white;
}
.navbar-brand{
    font-family: 'Delius Swash Caps';
}
#header-bar{
    color: rgb(106, 28, 165);
}
#top-container{
    padding:100px 0 50px 0;
    text-align:center;
}
#register, #login{
    background: black;
}
footer {
    color: white;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    color: white;
}
#reg_button{
    border: none;
    background-color: black;
}
.breadcrumb{
    color: black;
    background-color: rgba(0,0,0,0);
    border-radius: 0px;
    border-bottom: solid 2px black;
}
.btn-primary{
    background-color: black;
    border-color: white;
}
#container-register{
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: none;
}
#image-container{
    margin-left: 55px;
    padding-bottom: 50px;
}
#image-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#image-container ul li {
    float: left;
    padding: 20px;
    width: 300px;
}
#home-fig {
    margin: 0;
    padding: 0;
    height: 300px;
    position: relative;
    display: block;
    cursor: default;
    overflow: hidden;
    border: 3px solid #fff;
}
#home-fig:hover #home-figcapt {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0;
}
#home-figcapt {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
}
#home-fig img {
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    -ms-transition: all 1.5s;
    transition: all 1.5s;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
}
#home-fig:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
#home-figcapt h3 {
    font-family: 'Open sans';
    font-weight: 400;
    color: #f3b204;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    righ: 100%;
    margin-top: 37px;
    font-size: 30px;
}
#home-figcapt p {
    font-family: 'Open sans';
    padding: 10px 20px;
    margin-bottom: 0;
    margin-top: 20px;
    position: relative;
    left: 100%;
    font-size: 13px;
}
#home-fig:hover h3,#home-fig:hover p {
    left: 0;
}
#home-figcapt a, #image-figure a {
    cursor: pointer;
    color: #fff;
    border: 2px solid #fff;
    padding: 2px 10px;
    text-decoration: none;
}
#home-figcapt a:hover, #image-figure a:hover {
    color: #4f5856;
    background: #fff;
}
#home-figcapt span, #image-figure span{
    cursor: pointer;
}
#comment-container{
    width:250px;
    padding: 0;
    border: 1px solid #ccc;
}
#view-img-container {
    display: block;
    margin: 0 auto;
}
#image-figure{
    display: block;
    margin: 0 auto;
    padding: 50px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 6px solid #fff;
}
#comment-text{
    float: left;
    display: block;
    color:#666;
    font-size:14px;
    -moz-border-radius: 8px; -webkit-border-radius: 8px;
    margin-left:auto;
    margin-bottom: 10px;
    margin-right: auto;
    padding:10px;
    height:40px;
    width:100%;
    border:#999 1px solid;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 0);
}
#comment-text:focus{
    color:#000;
    outline:none;
    border: white 1px solid;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
#comment-button{
    float: left
}
hr.cool-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
hr.cool-hr-black {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
a.glyphicon{
    cursor: default;
}

.tertiary-button{
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
}
.secondary-button{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 5px;
    border: none;
}
.tertiary-button:hover{
    text-decoration: underline;
}
.tertiary-button:focus, .tertiary-button:active{
    outline: none;
}
#load-more-images-button{
    float: right;
    margin-bottom: 50px;
}
#comments-list{
    background-color: rgba(255,255,255,0.1);
}
#comment, #comments-list{
    background: none;
}
#comments-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
blockquote {
    border-left: none;
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #383838;
}
blockquote cite {
    color: rgba(0,0,0,0.7);
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}
#delete-button{
    float:right;
}
.material-icons {
    font-size: 1.5rem;
    color: black;
    position: relative;
    border-radius: 100%;
    padding-top: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}
.material-icons:after {
    width: 100%;
    height: 100%;
    border: solid 2px;
    transform: scale(0.8);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 100%;
    transition: all 0.3s ease;
}
.material-icons:hover:after {
    transform: scale(1);
}
.material-icons:hover {
    color: white;
    background-color: black;
    transform: rotate(90deg);
    cursor: pointer;
    box-shadow: none;
}
.dropdown-toggle{
    height: 44px;
}
#like-button, #dislike-button{
    float: right;
}
h3 a{
    color: white;
}
h3 a:hover{
    color: white;
}
#view-image-figure{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
select{
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    height: 25px;
}