<!DOCTYPE HTML>
<html lang="eng">
<head>
    <title>{%  block title %}PWGRAM{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block styles %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.css', 'css') }}" media="screen,projection"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('styles.css', 'css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius+Swash+Caps">
    {% endblock %}
</head>
<body>
<!-- CAPÇALERA> per defecte nomes hi tindrem el LOGO i en els altres .twig dins el block header afegirem els links necessaris -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="header-bar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>   pwgram</a>
        </div>
        {% block header %}
        {% endblock %}
    </div>
</nav>
<!--CONTENT-->
<div class="container" id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
<footer class="footer">
    {% block footer %}Clàudia Aymerich - Diego Bellino - Ricard Calzada{% endblock %}
    {% block scripts %}

    {% endblock %}
</footer>
</html>