{% extends "base.twig" %}

{% block header %}
     <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                <div>
                    <img src={{ user_path }}>
                    <a type="submit" class="tertiary-button" id="profile-button" href="/Profile/{{ user }}">{{ user }}</a>
                </div>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a type="submit" class="tertiary-button" id="add-button" href="/newPic">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new picture</a></li>
                    <li><a type="submit" class="tertiary-button" id="profile-button" href="/Notifications/{{ user }}">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> See notifications</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a type="submit" class="tertiary-button" href="/editP">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit profile</a></li>
                    <li><a type="submit" class="tertiary-button" href="/iniciSessio">Log out</a></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="container" id="top-container">
        <h1>Your comments</h1>
        <h4>A reminder of what you have told</h4>
    </div>
    <div class="container">
        <div class="panel panel-default" id="container-register">
            <div class="panel-body">
                <ul id="comments-list">
                    {% for comment in comments %}
                    <li id="comment">
                        <blockquote>
                            <p>{{ comment.getComentari() }}</p>
                            <cite>@{{ user }}</cite>
                        </blockquote>
                        <form method="post" action="/deleteComment/{{ comment.getId() }}">
                        <button type="submit" class="material-icons" id="delete-button" value="delete-button"
                            name="delete-button"><span class="glyphicon glyphicon-trash" aria-hidden="true">
                            </span></button>
                        </form>
                        <form method="post" action="/editComment/{{ comment.getId() }}">
                            <button type="submit" class="material-icons" id="delete-button" value="edit-button"
                                    name="delete-button"><span class="glyphicon glyphicon-pencil" aria-hidden="true">
                            </span></button>
                        </form>
                    </li>
                    <hr class="cool-hr-black">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}