{% extends "base.twig" %}

{% block content %}
    <div class="container" id="top-container">
        <h1>Edit comment</h1>
        <h4>{{ text }}</h4>
    </div>

    {% if error == 1 %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Coud not update your comment.
        </div>
    {% endif %}



    <div class="container" >

        <form method="POST" action="/actCom/{{ id }}" enctype="multipart/form-data">
            <br>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="com" id="com" placeholder="{{ comment }}"  >
            </div>

            <br>

            <button type="submit" name="Submit" class="btn btn-primary btn-lg btn-block login-button" value="logB">SAVE CHANGES</button>
        </form>
    </div>
{% endblock %}