{% extends "base.twig" %}


{% block header %}
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                    <div>
                        <img src={{ user_path }}>
                        <a type="submit" class="tertiary-button" id="profile-button" href="/Profile/{{ self }}">{{ self }}</a>
                    </div>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a type="submit" class="tertiary-button" id="add-button" href="/newPic">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new picture</a></li>
                    <li><a type="submit" class="tertiary-button" id="profile-button" href="/Notifications/{{ user }}">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> See notifications</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a type="submit" class="tertiary-button" href="/editP">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit profile</a></li>
                    <li><a type="submit" class="tertiary-button" href="/iniciSessio">Log out</a></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}
{% block content %}
    <div class="container" id="top-container">
        <h1>Edit image</h1>
        <h4>A couple of upgrades are never bad.</h4>
    </div>

    {% if error == 1 %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            COULD NOT UPDATE THE INFO
        </div>
    {% endif %}



    <div class="container" >
        <div class="container" id="container-register">
            <figure id="view-image-figure">
                <img width="300" height="300" src="../{{ img.path }}">
            </figure>
            <form method="POST" action="/actPic/{{ img.id }}" enctype="multipart/form-data">
                <br>
                <ol class="breadcrumb"><li>Image information</li></ol>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="titol" id="titol" placeholder="{{ img.titol }}"  >
                </div>
                {% if error[1] == true %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        WRONG TITLE
                    </div>
                {% endif %}
                <br>
                {% if img.privat == 0 %}
                 <input type="checkbox" name="priv" id="priv">
                {% else%}
                    <input type="checkbox" name="priv" id="priv" checked>
                {% endif %}
                <label>Private?</label>
                <br>
                <ol class="breadcrumb"><li>Change image</li></ol>

                <input type="file" name="img" id="img" accept="image/*" >
                <br>
                <button type="submit" name="Submit" class="btn btn-primary btn-lg btn-block login-button" value="logB">SAVE CHANGES</button>
            </form>
        </div>
    </div>
{% endblock %}