{% extends "base.twig" %}
{% block header %}
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                    <div>
                        <img src={{ user_path }}>
                        <a type="submit" class="tertiary-button" id="profile-button" href="/Profile/{{ self }}">
                            {{ self }}</a>
                    </div>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a type="submit" class="tertiary-button" id="add-button" href="/newPic">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new picture</a></li>
                    <li><a type="submit" class="tertiary-button" id="profile-button" href="/Notifications/{{ self }}">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> See notifications</a></li>
                    <li><a type="submit" class="tertiary-button" id="show-comments-button" href="/myComments/{{ self }}">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> My comments</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a type="submit" class="tertiary-button" href="/editP">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit profile</a></li>
                    <li><a type="submit" class="tertiary-button" href="/iniciSessio">Log out</a></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="container" id="top-container">
        <h1>Edit profile</h1>
        <h4>Become batman!</h4>
    </div>

    <div class="container" >
        <div class="panel panel-default" id="container-register" >
           <form method="POST" action="/ed" enctype="multipart/form-data">
                {% if missatge == 1  %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        Your Information was correctly Actualized
                    </div>
                {% elseif missatge == 0 %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Success:</span>
                        Your Information wasn't Actualized
                    </div>
                {% endif %}

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username" id="username"  placeholder=" New Username" value="{{ valors.nom }}">

                </div>
                {% if errors[0] == true %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        WRONG USERNAME
                    </div>
                {% endif %}
                <br>

                <input type="date" class="form-control" name="DataN" id="DataN"  placeholder="Introdueix la Data de Neixement" >
                {% if errors[2] == true %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        WRONG DATE
                    </div>
                {% endif %}
                <br>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password"  placeholder="New Password" value="{{ valors.pass }}">
                        </div>
                    </div>
                </div>
                {% if errors[1] == true %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        WRONG PASSWORD
                    </div>
                {% endif %}
                <br>
               <input type="file" name="img" id="img" accept="image/*" >
                <br>
                <button type="submit" name="Submit" class="btn btn-primary btn-lg btn-block login-button" value="logB">SAVE CHANGES</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/app2.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}