{% extends "base.twig" %}

{% block header %}
    {% if logged == false %}

        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right" >
                <a type="submit" class="btn btn-primary" id="register" href="/reg">Register</a>
            </div>
            <div class="navbar-form navbar-right" >
                <a type="submit" class="btn btn-primary" id="login" methods="post" href="/log">Log in</a>
            </div>
        </div>
    {% else %}
    <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
            <div class="btn-group">
            <button type="button" class="btn btn-primary">
                <div>
                    <img src={{ user_path }}>
                    <a type="submit" class="tertiary-button" id="profile-button" href="/Profile/{{ self }}">
                        {{ self }}</a>
                </div>
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a type="submit" class="tertiary-button" id="add-button" href="/newPic">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new picture</a></li>
                <li><a type="submit" class="tertiary-button" id="profile-button" href="/Notifications/{{ self }}">
                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> See notifications</a></li>
                <li><a type="submit" class="tertiary-button" id="show-comments-button" href="/myComments/{{ self }}">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> My comments</a></li>
                <li role="separator" class="divider"></li>
                <li><a type="submit" class="tertiary-button" href="/editP">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit profile</a></li>
                <li><a type="submit" class="tertiary-button" href="/iniciSessio">Log out</a></li>
            </ul>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container" id="top-container">
        <h1>PWGRAM</h1>
        <h4>These are our most viewed images:</h4>
    </div>
    <form  method="POST" action="/">
        <div>
        <select name="select" class="seleection">
            <option value="value1" selected>Order by creation date</option>
            <option value="value2">Order by number of views</option>
        </select>

            <button type="submit" name="Submit" class="secondary-button" id="reload-button" value="regB">Reload</button>
        </div>
    </form>
    <div class="container" id="image-container">
        <ul id="items-list">
            {% for i in items %}
                {% if i is defined %}
                    <li id="image-element">
                        <figure id="home-fig">
                            <img width="300" height="300" src={{ i.getPath() }}>
                            <figcaption id="home-figcapt">
                                <h3><a href="/viewImg/{{ i.getId() }}">{{ i.getTitol() }}</a></h3>
                                <p>Posted by <a href="/Profile/{{ i.getNomUser() }}">@{{ i.getNomUser() }}</a> on {{ i.getData() }}
                                    <br><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>   {{ i.getLikes() }}
                                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>   {{ i.getComents()|length }}
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   {{ i.getVisites() }}
                                    {% if i.getLastComment().getNomUser() is defined %}
                                <hr class="cool-hr">
                                <strong>@{{ i.getLastComment().getNomUser()['usuari'] }} said:</strong>
                                {{ i.getLastComment().getComentari() }}</p>
                                {% else %}
                                    </p>
                                {% endif %}
                            </figcaption>
                        </figure>
                        {% if logged == true %}
                            <br>
                            <span>
                                <form method="post" action="/comment/{{ i.getId() }}">
                                    <div>
                                        <input type="text" id="comment-text" name="comment-text"
                                               placeholder="Express yourself here...">
                                        <button type="submit" class="secondary-button" id="comment-button" name="comment-button"
                                                value="comment">comment</button>
                                    </div>
                                </form>
                            </span>
                            <span>
                                <form method="post" action="/like/{{ i.getId() }}">
                                    {% if i.getCanLike() == true  %}
                                        <div>
                                            <button type="submit" class="secondary-button" id="like-button" name="like-button"
                                                    value="comment"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</button>
                                        </div>
                                    {% else %}
                                        <div>
                                            <button type="submit" class="secondary-button" id="dislike-button" name="dislike-button"
                                                    value="comment"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> Unlike</span></button>
                                        </div>
                                    {% endif %}
                                </form>
                            </span>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% if logged == true %}
        <div class="container" id="bottom-container">
            <form id="form-images" action="/loadMoreImages" method="POST" accept-charset="utf-8">
                <button type="submit"  class="tertiary-button" id="load-more-images-button">Load more...</button>
            </form>
            <form method="post" action=>

            </form>
        </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}