{% extends "base.twig" %}

{% block content %}
    <div class="container" id="top-container">
        <h1>LOG IN</h1>
        <h4>Enter now and keep posting!</h4>
    </div>

    <div class="container">
        <div class="row main">

            <div class="main-login main-center">
                <form class="" method="post" action="/login">
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="username" id="username"  placeholder="Username" required/>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="password" id="password"  placeholder="Password"required/>
                            </div>
                        </div>
                    </div>

                    {% if  logged == 0%}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Incorrect Username or email -- Try it again
                    </div>
                    {% elseif logged == 1 %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Incorrect Password -- Try it again
                    </div>
                    {% endif %}

                    <button type="submit" name="Submit" class="btn btn-primary btn-lg btn-block login-button" value="logB">LOGIN</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}