{% extends "base.twig" %}
{% block header %}
     <div id="navbar" class="navbar-collapse collapse">
        <div class="navbar-form navbar-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                <div>
                    <img src={{ user_path }}>
                    <a type="submit" class="tertiary-button" id="profile-button" href="/Profile/{{ self }}">
                        {{ self }}</a>
                </div>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a type="submit" class="tertiary-button" id="add-button" href="/newPic">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new picture</a></li>
                    <li><a type="submit" class="tertiary-button" id="profile-button" href="/Notifications/{{ self }}">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> See notifications</a></li>
                    <li><a type="submit" class="tertiary-button" id="show-comments-button" href="/myComments/{{ self }}">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> My comments</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a type="submit" class="tertiary-button" href="/editP">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit profile</a></li>
                    <li><a type="submit" class="tertiary-button" href="/iniciSessio">Log out</a></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div class="container" id="top-container">
        <h1>Add a new picture</h1>
        <h4>Show us your best!</h4>
    </div>
    <div class="container">
        <div class="panel panel-default" id="container-register">
            <div class="panel-body">
                <form class="" method="post" action="/afegirPic" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text"  class="form-control" name="title" id="title"  placeholder="Put a memorable title" required/>
                            </div>
                        </div>
                    </div>
                    <input type="file" name="img" id="img" accept="image/*"  required>
                    <br>
                    <input type="checkbox" name="priv" id="priv">
                    <label>Private?</label>
                    <br>
                    <button class="btn btn-primary" type="submit" value="UPDATE">update</button>

                </form>
                {% if error == 1 %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        We could not update the IMAGE
                    </div>
                {% elseif error == 2 %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Some information is wrong
                    </div>
                {% endif %}
                <br />
                <output id="list"></output>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../assets/js/foto.js" type="text/javascript"></script>

{% endblock %}