{% extends "base.twig" %}

{% block header %}
    <div class="btn-group navbar-form navbar-right">
        <button type="button" class="btn btn-primary">
            <div>
                <img src={{ user_path }}>
                <a type="submit" class="tertiary-button" id="profile-button" href="/Profile/{{ self }}">{{ self }}</a>
            </div>
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a type="submit" class="tertiary-button" id="add-button" href="/newPic">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new picture</a></li>
            <li><a type="submit" class="tertiary-button" id="show-comments-button" href="/myComments/{{ self }}">
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> My comments</a></li>
            <li role="separator" class="divider"></li>
            <li><a type="submit" class="tertiary-button" href="/editP">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit profile</a></li>
            <li><a type="submit" class="tertiary-button" href="/iniciSessio">Log out</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container" id="top-container">
        <h1>Notifications</h1>
        <h4>What have you missed?</h4>
    </div>
    <div class="container">
        <div class="panel panel-default" id="container-register">
            <div class="panel-body">
                <ul id="notifications-list">
                    {% if notifications != null %}
                        {% for i in notifications %}
                            <li id="notification">
                                <p>{{ i['text'] }}</p>
                                <form method="post" action="/deleteNotification/{{ i['id'] }}">
                                    <button type="submit" class="material-icons" id="delete-button" value="delete-button"
                                            name="delete-button"><span class="glyphicon glyphicon-trash" aria-hidden="true">
                                </span></button>
                                </form>
                            </li>
                            <hr class="cool-hr-black">
                        {% endfor %}
                    {% else %}
                        <h4>You don't have any new notifications</h4>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}