{% extends "base.twig" %}
{% block header %}
     <div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">
                <div>
                    <img src={{ user_path }}>
                    <a type="submit" class="tertiary-button" id="profile-button" href="/Profile/{{ self }}">
                        {{ self }}</a>
                </div>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a type="submit" class="tertiary-button" id="add-button" href="/newPic">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new picture</a></li>
                    <li><a type="submit" class="tertiary-button" id="profile-button" href="/Notifications/{{ self }}">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> See notifications</a></li>
                    <li><a type="submit" class="tertiary-button" id="show-comments-button" href="/myComments/{{ self }}">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> My comments</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a type="submit" class="tertiary-button" href="/editP">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit profile</a></li>
                    <li><a type="submit" class="tertiary-button" href="/iniciSessio">Log out</a></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}
    {% if select == false %}
    <div class="container" id="top-container">
        <h1>These are your images, @{{ nom }}.</h1>
        <h4>What do you want to do with them?</h4>
    </div>
    {% else %}
    <div class="container" id="top-container">
        <h1>These are the images @{{ nom }} posted.</h1>
        <h4>What do you think?</h4>
    </div>
    <div class="panel panel-default" id="container-register">
        <div class="container">
        <h5>Nombre de Imatges: {{ numImg }}</h5>
        <h5>Nombre de Comentaris: {{ numCom }}</h5>
        </div>
    </div>
    <form  method="POST" action="/ordenaProfile/{{ nom }}">
        <div>
            <select name="select" class="selection">
                <option value="value1" selected>Order by age</option>
                <option value="value2">Order by likes</option>
                <option value="value3">Order by number of comments</option>
                <option value="value4">Order by number of visits</option>
            </select>

            <button type="submit" name="Submit" class="secondary-button" id="reload-button" value="regB">Reload</button>
        </div>
    </form>
    {% endif %}

    <div class="container" id="image-container">
        <ul id="items-list">
            {% for item in item %}
                <li id="image-element">
                    <figure id="home-fig">
                        <img width="300" height="300" src="../{{ item.getPath() }}">
                    </figure>
                    <h3><a href="/viewImg/{{ item.getId() }}">{{ item.getTitol() }}</a></h3>
                    {% if select == false %}
                        <div>
                            <a type="submit" class="secondary-button" id="comment-button" href="/editPic/{{ item.getId() }}">Edit Image</a>
                            <div id="delete" class="{{ item.getId() }}"></div>
                            <a type="submit" class="secondary-button"  id="like-button" onclick="eliminaImg()">Delete Image</a>
                        </div>
                    {% else %}

                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../assets/js/comments.js" type="text/javascript"></script>

{% endblock %}