{% extends "base.twig" %}


{% block content %}
    <div class="container" >
        <div class="panel panel-default" id="container-register">
            <form method="POST" action="/register" enctype="multipart/form-data">
                <ol class="breadcrumb"><li>User information</li></ol>
                <div class="input-group" id = "divNom">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" value="{{ valors.nom }}" aria-describedby="basic-addon1" name="username" id="username" value="" onkeyup="checkUsername();">
                </div>
                <br>
                <div class="alert alert-danger fade in" role="alert" id="usernameIncorrect">
                    <p>Wrong username</p>
                </div>

                <br>
                <div id="divC" >
                    <input type="password" class="form-control" placeholder="Password" value="{{ valors.pass }}"aria-describedby="basic-addon1" name="password" id="password" onkeyup="checkPassword();">
                </div>
                <br>
                <div class="alert alert-danger fade in" role="alert" id="passwordIncorrect">
                    <p>Wrong password</p>
                </div>
                <br>

                <div id="divC2">
                    <input type="password" class="form-control" placeholder="Repeat password" value="{{ valors.pass2 }}" aria-describedby="basic-addon1" name="repeat_pwd" id="repeat_pwd" onkeyup="checkEqualPasswords();">
                </div>
                <br>
                <div class="alert alert-danger fade in" role="alert" id="passwordsNoMatch">
                    <p>Password not match</p>
                </div>

                <ol class="breadcrumb"><li>Personal information</li></ol>
                <div id="divEm">
                    <input type="text" class="form-control" aria-label="..." value="{{ valors.email }}" placeholder="Email" name="email" id="email" onkeyup="checkEmail();">
                </div>
                    <br>
                    <div class="alert alert-danger fade in" role="alert" id="emailIncorrect">
                        <p>Wrong email</p>
                    </div>
                   <!-- <input type="date" class="datepicker" data-date-format="mm/dd/yyyy" name="DataN" id="DataN"  required>-->
                <div id="divData">
                    <input type="date" class="form-control" name="DataN" id="DataN"  placeholder="Introdueix la Data de Neixement"  onkeyup="checkBirthdate();"required/>
                </div>
                    <br>
                    <div class="alert alert-danger fade in" role="alert" id="birthdateIncorrect">
                        <p>Birthdate not valid</p>
                    </div>

                    <input type="file" name="img" id="img"  accept="image/* " >

                <br>

                <div>
                    <button type="submit" name="Submit" id="regButtonDades" class="btn btn-primary btn-lg btn-block login-button" value="regButtonDades">CHECK IN</button>
                </div>
                <br>
            </form>

            {% if activar == true %}
                <div class="container" id="top-container">
                    <h4>We have send you and email, to activate your account</h4>
                </div>
            {% endif %}
        <br />
        <output id="list"></output>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../assets/js/register.js" type="text/javascript"></script>
<script src="../assets/js/foto.js" type="text/javascript"></script>

{% endblock %}