{% extends "base.twig" %}

{% block content %}
    <div class="container" id="top-container">
        <h1>PWGRAM</h1>
        <h4>These are our most viewed images:</h4>
    </div>
    <div class="container" id="image-container">
        <ul id="items-list">
            {% for item in item %}
                <li id="image-element">
                    <figure id="home-fig">
                        <img width="300" height="300" src={{ item.getPath() }}>
                        <figcaption id="home-figcapt">
                            <h3><a>{{ item.getTitol() }}</a></h3>
                            <p>Posted by <a href="/viewImg">@{{ item.getNomUser() }}</a> on {{ item.getData() }}</p>
                            <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>   {{ item.getLikes() }}
                                <br><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>   {{ item.getComentsNumber() }}
                                <br><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   {{ item.getVisites() }}</p>
                        </figcaption>
                    </figure>
                    {% if logged == true %}
                        <br>
                        <textarea></textarea>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}