{% extends "base.twig" %}

{% block header %}
    {% if logged == false %}
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right" >
                <a type="submit" class="btn btn-primary" id="register" href="/reg">Register</a>
            </div>
            <div class="navbar-form navbar-right" >
                <a type="submit" class="btn btn-primary" id="login" methods="post" href="/log">Log in</a>
            </div>
        </div>
    {% else %}
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">
                        <div>
                            <img src={{ user_path }}>
                            <a type="submit" class="tertiary-button" id="profile-button" href="/Profile/{{ self }}">{{ self }}</a>
                        </div>
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a type="submit" class="tertiary-button" id="add-button" href="/newPic">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new picture</a></li>
                        <li><a type="submit" class="tertiary-button" id="profile-button" href="/Notifications/{{ self }}">
                                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> See notifications</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a type="submit" class="tertiary-button" href="/editP">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit profile</a></li>
                        <li><a type="submit" class="tertiary-button" href="/iniciSessio">Log out</a></li>
                    </ul>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container" id="top-container">
        <h1>PWGRAM</h1>
        <h4>This is the image you wanted us to show:</h4>
    </div>
    <div class="container" id="view-img-container">
        <figure id="image-figure">
            <img width="400" height="300" src=../{{ item.getPath() }}>
            <h2>{{ item.getTitol() }}</h2>
            <p>Posted by <a href="/Profile/{{ item.getNomUser()['usuari'] }}">@{{ item.getNomUser()['usuari'] }}</a> {{ days }} days ago.</p>
            <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"
                     href="like/{{ item.getId() }}"></span>   {{ item.getLikes() }}
                <br><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>   {{ comment_num }}
                <br><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>   {{ item.getVisites() }}
            </p>
            <div id="comments-div">
                {% for i in comments %}
                    {% if i is defined %}
                        <div>
                            <hr class="cool-hr">
                            <p><strong>@{{ i.getNomUser()['usuari'] }} said:</strong>
                                {{ i.getComentari() }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if logged == true %}
                <br id="1" class={{ item.getId() }}>
                <form id="form-comments" method="post" action="/loadMoreComments/{{ item.getId() }}">
                    <button type="submit" class="tertiary-button" id="comment-button" name="comment-button"
                            value="comment">load more...</button>
                </form>
                <form method="post" action="/comment/{{ item.getId() }}">
                    <div>
                        <input type="text" id="comment-text" name="comment-text" placeholder="Express yourself here...">
                        <button type="submit" class="secondary-button" id="comment-button" name="comment-button"
                                value="comment">comment</button>
                    </div>
                </form>
                <br>

                <form method="post" action="/like/{{ item.getId() }}">
                    {% if item.getCanLike() == true  %}
                        <div>
                            <button type="submit" class="secondary-button" id="like-button" name="like-button"
                                    value="comment"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</button>
                        </div>
                    {% else %}
                        <div>
                            <button type="submit" class="secondary-button" id="dislike-button" name="dislike-button"
                                    value="comment"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> Unlike</span></button>
                        </div>
                    {% endif %}
                    <br>
                </form>
                <br>


            {% endif %}
        </figure>
    </div>
    <br>
{% endblock %}
{% block scripts %}
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/app2.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}